<div class="row">
    <div class="col-6">
        <h3 class="text-blue">Christians Suggestions</h3>
        <table class="table-bordered border-info"
               data-toggle="table">
            <thead class="thead-dark">
            <tr>
                <th class="text-warning" data-field="suggestion_category" data-sortable="true" scope="col">
                    Category
                </th>
                <th class="text-warning" data-field="suggestion" data-sortable="true" scope="col">
                    Suggestion
                </th>
                <th class="text-warning" data-field="delete_entry" scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for suggestion_item in christian_suggestions %}
                <tr>
                    <td>{{ suggestion_item.suggestion_category | title   | replace("_", "/") }}</td>
                    <td>{{ suggestion_item.suggestion }}</td>
                    <td>
                        <form method="post">
                            {{ suggest_form.csrf_token }}
                            {{ suggest_form.delete_id(value=suggestion_item.id) }}
                            {{ suggest_form.delete_entry(class="btn btn-sm btn-danger") }}
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <h3 class="text-purple">Sarah's Suggestions</h3>
        <table class="table-bordered border-purple"
               data-toggle="table">
            <thead class="thead-dark">
            <tr>
                <th class="text-purple" data-field="suggestion_category" data-sortable="true" scope="col">
                    Category
                </th>
                <th class="text-purple" data-field="suggestion" data-sortable="true" scope="col">
                    Suggestion
                </th>
                <th class="text-purple" data-field="delete_entry" scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for suggestion_item in sarah_suggestions %}
                <tr>
                    <td>{{ suggestion_item.suggestion_category | title | replace("_", "/") }}</td>
                    <td>{{ suggestion_item.suggestion }}</td>
                    <td>
                        <form method="post">
                            {{ suggest_form.csrf_token }}
                            {{ suggest_form.delete_id(value=suggestion_item.id) }}
                            {{ suggest_form.delete_entry(class="btn btn-sm btn-danger") }}
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <h3>Mom's Suggestions</h3>
        <table class="table-bordered border-success"
               data-toggle="table">
            <thead class="thead-dark">
            <tr>
                <th class="text-success" data-field="suggestion_category" data-sortable="true" scope="col">
                    Category
                </th>
                <th class="text-success" data-field="suggestion" data-sortable="true" scope="col">
                    Suggestion
                </th>
                <th class="text-success" data-field="delete_entry" scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for suggestion_item in mom_suggestions %}
                <tr>
                    <td>{{ suggestion_item.suggestion_category | title | replace("_", "/") }}</td>
                    <td>{{ suggestion_item.suggestion }}</td>
                    <td>
                        <form method="post">
                            {{ suggest_form.csrf_token }}
                            {{ suggest_form.delete_id(value=suggestion_item.id) }}
                            {{ suggest_form.delete_entry(class="btn btn-sm btn-danger") }}
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-6">
        <h3 class="text-danger">Dad's Suggestions</h3>
        <table class="table-bordered border-danger"
               data-toggle="table">
            <thead class="thead-dark">
            <tr>
                <th class="text-danger" data-field="suggestion_category" data-sortable="true" scope="col">
                    Category
                </th>
                <th class="text-danger" data-field="suggestion" data-sortable="true" scope="col">
                    Suggestion
                </th>
                <th class="text-danger" data-field="delete_entry" scope="col">Delete</th>
            </tr>
            </thead>
            <tbody>
            {% for suggestion_item in dad_suggestions %}
                <tr>
                    <td>{{ suggestion_item.suggestion_category | title | replace("_", "/") }}</td>
                    <td>{{ suggestion_item.suggestion }}</td>
                    <td>
                        <form method="post">
                            {{ suggest_form.csrf_token }}
                            {{ suggest_form.delete_id(value=suggestion_item.id) }}
                            {{ suggest_form.delete_entry(class="btn btn-sm btn-danger") }}
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
