{% extends 'base.html' %}
{% from 'helpers.html' import display_form_errors %}

<body>
{% block content %}
    <div class="container-fluid">
        <div class="card bg-white-opaque">
            <div class="card-body">
                <h5 class="card-title display-2">Vacation Requests</h5>
                <div class="row">
                    <div class="col-auto">
                        <form method="POST" name="Suggestions" class="form-inline">
                            {{ suggest_form.hidden_tag() }}
                            <div class="form-group">
                                {{ suggest_form.by_who.label }}
                                {{ suggest_form.by_who(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ suggest_form.suggestion_category.label }}
                                {{ suggest_form.suggestion_category(class="form-control") }}
                            </div>
                            <div class="form-group">
                                {{ suggest_form.suggestion.label(class="sr_only") }}
                                {{ suggest_form.suggestion(class='form-control', style="width: 300px") }}
                            </div>
                            {{ suggest_form.submit(class='btn btn-success') }}
                            {{ display_form_errors(suggest_form) }}
                        </form>
                    </div>
                </div>
                {% include 'suggestion_tables.html' %}
            </div>
        </div>
    </div>
{% endblock content%}
</body>

